.skipTextStyle{
    color: orange;
}
 body{
     /* font-family: 'Poppins', sans-serif; 
      */
     font-family: 'Playfair Display SC', serif;
     font-family: 'Poppins', sans-serif;
     font-family: 'Prata', serif;
     font-family: 'Volkhov', serif;
     margin: 0px;
   
} 
.h1{
    font-size: 50px;
    font-weight: 900px;
    color: #575757;
}
.ptag{
    color: #828282;
    margin-bottom: 40px;
    
    
}
.flexible-container{
    display: flex;
    margin-top: 30px;
}
.orderFoodStyle{
    text-decoration: none;
     background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 700;
    color: white;
    font-size: 15px;
    
 

}
.infoStyle{
    width: 50%;
    padding-left: 3%;
    

}
.infoStyle img{
    width: 65%;
}
.container1{
    background-color: white;
}

.infoStyle11 h1{
    color: #707070;
    margin-bottom: 30px;
}
.infoStyle11 p{
    font-size: 14px;
    font-weight: 200;
    color: #707070;
    margin-bottom: 60px;
}
.infoStyle1{
    width: 50%;
    padding-left: 20%;

}
.infoStyle1 img{
    width: 40%;
}
.container2{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
   
    
}
.infoStyle11{
    width: 20%;
   
}
.anotherContainer{
    margin-top: 100px;
}
.container3 h1{
    color: #707070;
    text-align: center;
}
.container3 p{
    text-align: center;
    color: #707070;
    font-size: 14px;
    background-color: white;
    
}

 .firstArea{
     box-shadow: 10px 10px 50px gray;
     margin-left: 2%;
     margin-right: 2%;
     border-radius: 15px;
     padding: 10px;
    
 }
 .firstArea img{
     height: 256px;
     width: 337px;
     padding: 10px;
 }
 .headingStyle{
     padding: 10px;
     font-weight: bold;
     color: black;
     font-size: 25px;
 }
.paraTag{
    color: #707070;
    font-size: 14px;
    

 }
 .coverImg{
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 25px;
    

 }
 .container5{
     background-color: #000000;
     width: 100%;
     height: 200px;
     margin-top: 80px;
 }
 .foodNet span{
   color: coral;


 }
 .foodNet{
     text-align: center;
     color: #5B5B5B;
     
 }